<!--block code is used for DRY(dont repeat yourself)concept : google more about it-->
<!--#extend keyword will copy everything from base.html btt the place where we use block code in base.html , we can make changes in those files where we will export base.html(here index.html can make change)-->

{% extends "base.html" %}
<!--block "title" code will allow to make change at that place where we have written it(in base.html)-->
{% block title %}Home{% endblock title %}
{% block body %}
<!--i made container box so that i can put more content beside slides-->
<div class="container-fluid my-4 px-0 mx-20 ">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!--i have changed the src of img tag,i download images and copied it in static folder , from there src is getting image-->
        <a href="/buyPage"><img class="d-block w-90 h-20 m-auto p-auto" src="/static/shirt.jpg" width="60%" height="300px" alt="First slide"></a>
      </div>
      <div class="carousel-item">
    <a href="/buyPage"><img class="d-block w-90 h-20 m-auto p-auto" src="/static/shoes.jpg" width="60%" height="300px" alt="Third slide"></a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <h1 style="text-align:center;" >See More</h1>
 <!-- Modal gallery -->
<section class="">
 <!-- Section: Images -->
  <section class="">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <a href="/buyPage"><img
            src="static/p2.jpg" height="130px" width="30px"
            class="w-100"
          /></a>
         
        </div>
       <div class="col-lg-4 mb-4 mb-lg-0">
      <a href="/buyPage"><img
            src="static/p3.webp" height="130px" width="30px"
            class="w-100"
          /></a>
        </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
       <a href="/buyPage"><img
            src="static/p4.jpg" height="130px" width="30px"
            class="w-100"
          /></a>
        </div>
    </div>
  </section>
<h1 style="color:white;"> SHOP NOW</h1>

  {% endblock body %}